$light-gray: #e4eef2;

$primary-color-dark: #1976d2;
$primary-color: #00aff0;
$primary-color-light: #bbdefb;
$primary-color-text: #ffffff;
$accent-color: #cddc39;
$primary-text-color: #666666;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
