.navbar {
  border-radius: 0;
  margin-bottom: 20px;
  background-color: #606b56;
  .navbar-brand {
    font-weight: bolder;
    color: #515a48;
    .light {
      font-weight: 300;
      color: #fff;
    }
  }
  .navbar-toggler {
    outline: none;
  }
  .nav-link {
    color: #515a48 !important;
    &.active {
      color: #fff !important;
    }
  }
  .nav-item.author-nav {
    img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      border: 1px solid #515a48;
    }
  }
}

.collapse-bg {
  padding: 0 !important;
  .card {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
  }
}

.collapse-bg .card .list-group-item {
  padding: 0;
  border-radius: 0 !important;
  border-color: black;
  a {
    background-color: #1a1a1a;
    color: #bdc3c7;
    width: 100%;
    height: 100%;
    padding: 10px;
    &:active {
      color: white;
      border-bottom: none;
    }
  }
}
